In [12]:
import os
import glob
import pandas as pd

directory = '/hpc/group/igvf/A549/full-set/DMSO-200/300-bases/slurms/train-unbiased-normalized/outputs/' 

rho_list = []
mse_list = []
min_val_loss_list = []
run_list = []

for filepath in glob.glob(os.path.join(directory, '*.out')):
    with open(filepath, 'r') as file:
        run = (filepath.split(directory)[-1]).split('.out')[0]
        run_list.append(int(run))
        rho = mse = min_val_loss = None
        for line in file:
            line = line.strip()
            if line.startswith('A549 rho='):
                parts = line.split()
                rho = float(parts[2])
            elif line.startswith('A549 mse= '):
                mse = float(line.split('=')[1])
            elif line.startswith('Min validation loss:'):
                min_val_loss = float(line.split(':')[1])
        
        # Only add to list if all values are found
        if rho is not None and mse is not None and min_val_loss is not None:
            rho_list.append(rho)
            mse_list.append(mse)
            min_val_loss_list.append(min_val_loss)

df = pd.DataFrame({
    'run': run_list,
    'rho': rho_list,
    'mse': mse_list,
    'min_val_loss': min_val_loss_list,
})

df = df.sort_values(by=['run'])
df = df.reset_index(drop=True)
df

   run       rho       mse  min_val_loss
0    1  0.409774  0.182557        0.1807
1    2  0.420600  0.177661        0.1762
2    3  0.402494  0.182566        0.1812
3    4  0.417823  0.179762        0.1782
4    5  0.411019  0.182355        0.1807
5    6  0.410245  0.174139        0.1724
6    7  0.420124  0.174307        0.1729
7    8  0.396965  0.175644        0.1737
8    9  0.409140  0.179373        0.1777
9   10  0.418042  0.186891        0.1854

In [13]:
import os
import glob
import pandas as pd

directory = '/hpc/group/igvf/A549/full-set/Dex-200/300-bases/slurms/train-unbiased-normalized/outputs/' 

rho_list = []
mse_list = []
min_val_loss_list = []
run_list = []

for filepath in glob.glob(os.path.join(directory, '*.out')):
    with open(filepath, 'r') as file:
        run = (filepath.split(directory)[-1]).split('.out')[0]
        run_list.append(int(run))
        rho = mse = min_val_loss = None
        for line in file:
            line = line.strip()
            if line.startswith('A549 rho='):
                parts = line.split()
                rho = float(parts[2])
            elif line.startswith('A549 mse= '):
                mse = float(line.split('=')[1])
            elif line.startswith('Min validation loss:'):
                min_val_loss = float(line.split(':')[1])
        
        # Only add to list if all values are found
        if rho is not None and mse is not None and min_val_loss is not None:
            rho_list.append(rho)
            mse_list.append(mse)
            min_val_loss_list.append(min_val_loss)

df = pd.DataFrame({
    'run': run_list,
    'rho': rho_list,
    'mse': mse_list,
    'min_val_loss': min_val_loss_list,
})

df = df.sort_values(by=['run'])
df = df.reset_index(drop=True)
df

   run       rho       mse  min_val_loss
0    1  0.406786  0.261589        0.2616
1    2  0.399445  0.280478        0.2809
2    3  0.398475  0.264313        0.2647
3    4  0.420767  0.262182        0.2618
4    5  0.383045  0.266787        0.2669
5    6  0.396188  0.277860        0.2783
6    7  0.401006  0.259460        0.2592
7    8  0.414341  0.268534        0.2683
8    9  0.400993  0.275976        0.2759
9   10  0.417726  0.272927        0.2728